<ion-view view-title="Artigos">
	<ion-content>
		<div class="content-view">
			<h3>Artigos</h3>
			<p>Aqui texto sobre os artigos</p>
			<table class="table">
				<tbody>
					<tr>
						<td colspan="1" rowspan="2">
							<p>
								<span></span>
							</p>
						</td>
						<td colspan="2" rowspan="1">
							<p>
								<span>MASCULINO</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>SINGULAR</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>PLURAL</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>Nominativo</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>ὁ</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>οἱ</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>Acusativo</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τόν</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τούς</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>Genitivo</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τοῦ</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τῶν</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>Dativo</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τῷ</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τοῖς</span>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			<table class="table">
				<tbody>
					<tr>
						<td colspan="1" rowspan="2">
							<p>
								<span></span>
							</p>
						</td>
						<td colspan="2" rowspan="1">
							<p>
								<span>FEMININO</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>SINGULAR</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>PLURAL</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>Nominativo</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>ἡ</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>αἱ</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>Acusativo</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τήν</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τάς</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>Genitivo</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τῆς</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τῶν</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>Dativo</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τῇ</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>ταῖς</span>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			<table class="table">
				<tbody>
					<tr>
						<td colspan="1" rowspan="2">
							<p>
								<span></span>
							</p>
						</td>
						<td colspan="2" rowspan="1">
							<p>
								<span>NEUTRO</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>SINGULAR</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>PLURAL</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>Nominativo</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τό</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τά</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>Acusativo</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τό</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τά</span>
							</p>
						</td> 
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>Genitivo</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τοῦ</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τῶν</span>
							</p>
						</td> 
					</tr>
					<tr>
						<td colspan="1" rowspan="1">
							<p>
								<span>Dativo</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τῷ</span>
							</p>
						</td>
						<td colspan="1" rowspan="1">
							<p>
								<span>τοῖς</span>
							</p>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</ion-content>
</ion-view>