<ion-view view-title="Ditongos">
  <ion-content>
	<div class="content-view">
		<h3>Ditongos</h3>
		<p>Ditongo é a fusão de dois sons vocais em um só. Em grego temos os seguintes ditongos: </p>
		<table class="table">
			<thead>
				<td>Ditongos</td>
				<td>Sons</td>
			</thead>
			<tbody>
				 <tr>
				 	<td class="greek-word">αι</td>
				 	<td>“ai” em aipo</td>
				 </tr>
				 <tr>
				 	<td class="greek-word">αυ</td>
				 	<td>“au” em audaz</td>
				 </tr>
				 <tr>
				 	<td class="greek-word">ει</td>
				 	<td>“ei” em anéis</td>
				 </tr>
				 <tr>
				 	<td class="greek-word">ευ</td>
				 	<td>“eu” em neutro</td>
				 </tr>
				 <tr>
				 	<td class="greek-word">οι</td>
				 	<td>“oi” em anzóis</td>
				 </tr>
				 <tr>
				 	<td class="greek-word">ου</td>
				 	<td>“u” em tu</td>
				 </tr>
				 <tr>
				 	<td class="greek-word">υι</td>
				 	<td>“ui” em eqüino </td>
				 </tr>
			</tbody>
		</table>
	</div>
  </ion-content>
</ion-view>