<ion-view view-title="Qual é o significado?">
	<ion-content>
		<div class="content-view">
			<div ng-controller="JogoVocabularioController">
				  <div class="row score">
		                <div class="col col-40 left">Placar: {{ acertos +'/'+ jogadas }}</div>
		                <div class="col col-70 right">Acertos Consecutivos: {{ acertos_consecutivos }}</div>
				  </div>
		          <div class="list card">
		            <div class="item item-image greek-word">
		                <span>{{ vocabulario[palavra].palavra }}</span>
		            </div>
		          </div>
		          <div class="list-options">
		                <button class="button button-calm" ng-repeat="item in opcoes track by $index" ng-click="checkResposta(item)">{{ item }}</button>
		          </div>
			</div>
		</div>
	</ion-content>
</ion-view>