<ion-view view-title="Sobre">
	<ion-content>
		<div class="content-view">
			<h3>Sobre</h3>
			<p>O aplicativo <strong>Aprenda Grego Bíblico</strong> tem como objetivo auxiliar aqueles que não conhecem nada, ou muito pouco sobre o Grego Bíblico, também chamado de Grego Koiné, servindo como instrumento para abençoar a todos</p>
			<p>Todos os nomes de letras e significados de palavras foram tirados da <strong>Gramática Instrumental</strong>, do Dr. Renato Gusso.</p>
			<p>Também foi utilizado como referência, o livro Grego do Novo Testamento para iniciantes, de  J. Gresham Machen</p>
		</div>
	</ion-content>
</ion-view>