<ion-view view-title="Como Usar">
	<ion-content>
		<div class="content-view">
			<h3>Como Usar</h3>
			<p>O aplicativo Aprenda Grego Bíblico, tem o objetivo de dar uma noção básica do Grego Koinê. Ele é divido em 3 seções: Lições, Vocabulário e Jogos</p>
			<h4>Lições</h4>
			<p>Nesta parte, existem algumas lições básicas de gramática sobre o Grego Koinê. Temos hoje 5 lições, que abordam desde o alfabeto até artigos. Já se encontra em fase de desenvolvimento a lição 6 que irá tratar sobre os verbos.</p>
			<h4>Vocabulário</h4>
			<p>Esta é uma das partes mais importantes, no aprendizado. Ter um vocabulário amplo é a melhor forma de dominarmos um idioma. Atualmente, contamos com 77 palavras e seus signifcados. <strong>Não</strong> foi realizada uma concordância exaustiva, onde todos os possivéis signifcados são abordados.</p>
			<h4>Jogos</h4>
			<p>A parte mais divertida do aplicativo. Nela, você pode ver se já sabe de cor todas as letras do alfabeto, ou ver quantas palavras já decorou. Assim você pode exercitar onde estiver, na hora que quiser!</p>
		</div>
	</ion-content>
</ion-view>