<ion-view view-title="Outras Fontes de Estudo">
	<ion-content>
		<div class="content-view">
			<h3>Outras Fontes de Estudo</h3>
			<p>Aqui listaremos outras fontes, para que você possa aprofundar ainda mais seus estudos!</p>
			<br>
			<h4>Isto é grego</h4>
			<p>https://issoegrego.com.br/</p>
			<h4>Grego Diário</h4>
			<p>http://www.gregodiario.com/</p>
			<h4>Escola Charles Spurgeon</h4>
			<p>http://www.escolacharlesspurgeon.com.br/nav/pregacoes/media.cshtml?mType=greek</p>
			
		</div>
	</ion-content>
</ion-view>