<ion-view view-title="Vogais">
  <ion-content>
	<div class="content-view" ng-controller="VogaisController">
	    <ion-slide-box on-slide-changed="slideChanged($index)" show-pager>
	        <ion-slide ng-repeat="item in alfabeto" ng-if="item.tipo == 'vogal'">
	          <div class="list card">
	            <div class="item item-image">
	                <img src="{{ item.letra }}">
	            </div>
	            <a class="item assertive center" href="#">{{ item.resposta }}</a>
	          </div>
	        </ion-slide>
	    </ion-slide-box>
	    <div>
	        <button class="button button-stable" style="float:left;" ng-click="previous()">
	            <i class="icon-left ion-chevron-left"></i>
	        </button>
	        <button class="button button-stable" style="float:right;" ng-click="next()">
	            <i class="icon-left ion-chevron-right"></i>
	        </button>
	    </div>
	</div>
  </ion-content>
</ion-view>